/*
   $Id$
   wings Default Style Sheet for IE Browser.

   >> This file contains CORE CSS declarations needed for correct operation.  <<
   >> Porting changes in this file to other browsers is REQUIRED              <<

   CURRENTLY NOT IN A WORKING STATE -- WE DEVEL ON GECKO!

   Includes CSS definitions that are required for wings to work correctly.
   - Please use msie-advanced.css for visual only styling
   - Please avoid generic/global css selectors and use the wings css classes in your selection path
*/

HTML,BODY,TEXTAREA {
    overflow:auto;     /* get rid of default scrollbars */
}

HTML {
height: 100%;
}
/* either use this or cellpadding/cellspacing/border in table element.
   css overwrites all attributes! */
table, td{
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    border: none;
}

/* BODY {
    position: relative;
    margin: 0px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 14px;
} */ 

/*DIV, FORM {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}*/

/* TODO -- move this too renderer? */
IMG {
    border: none !important;     /* This is needed to avoid those ugly borders around linked imgs's */
/* padding: 0px;
    margin: 0px;
    vertical-align: middle; */
}

/* HR {
     margin-top: 0;
     margin-bottom: 0
} */

.SToolBar {
	width:100%
}

.SLabel_Box {
/*	display:table;      ILLEGAL FOR MSIE6 according to TopStyle */
}

.SLabel {
   font-family: sans-serif;
   font-weight: bold;
   font-style: normal;
   font-size: 14px;
   color: #000044; 
}

.STextField {
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000; 
}

.href { 
   color: #990000;
   text-decoration: none;
   font-weight: bold; 
}

.selection {
  background-color: #99cccc;
}

.SList {
   border-style: none;
   border-width: 0px;
   text-decoration: none;
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000;
}

div.STree {
	vertical-align: top;
	text-align: left;
}
ul.STree{
	list-style: none;
}
ul.STree li {
	padding-left: -20px;
	margin-left: -20px;
}
ul.STree li * {
	white-space: nowrap;
}

ul.STree li button {
    border: none;
    background-color: inherit; /* ILLEGAL FOR MSIE6 according to TopStyle */
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}
ul.STree li div.SSubTree {
	background-image: url(org/wings/icons/TreeLine.gif);
	background-repeat:repeat-y;
	background-position: 0px 100px;
}

.STable {
   border-style: solid;
   border-width: 1px;
   border-color: black;
   text-decoration: none;
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000;
}

.tableheader {
   font-weight: bold;
   background-color: #dedede;
}

.SAnchor {
   color: #000044;
}

.SToolbar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCCCCC;
}

.SMenuBar {
	color: #000066;
	background-color: #CCCCCC;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-style: solid;
	border-width: 1px;
   padding : 0px;
}

.SMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
  	color: #ffffff;
	background-color: #7777CC;
}

.SMenuDisabledMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: darkgray;
	background-color: #CCCCCC;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.SMenuJSmenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
  	color: #ffffff;
	background-color: #5555AA;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.SMenuPopup {
	background-color: #CCCCCC;
	border-style: solid;
	border-width: 2px;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	position: absolute;
	overflow: visible;
	padding: 2px 2px 2px 0px;
	margin: 0px;
}

div.pdmenu div.menu, div.pdmenu div.disabledmenu {
    width: 100%;
}

div.pdmenu  div.menu img, div.pdmenu div.disabledmenu img {
    position: absolute;
    right: 0px;
}


.SMenuItem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000066;
	background-color: #CCCCCC;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.SMenuDisabledMenuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: darkgray;
	background-color: #CCCCCC;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.SMenuJSmenuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
  	color: #ffffff;
	background-color: #5555AA;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.SSeparator {
	color: #CCCCCC;
	height: 0px;
	white-space: nowrap;
	margin: 0px; 
	padding: 0px;
	border-style: inset;
	border-width: 1px;
}


.framebutton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
        background-color: #DEDEDE;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	overflow: visible;
	padding: 0px;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.frametitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
   	color: #ffffff;
	background-color: #5555AA;
	overflow: visible;
	padding-right: 0px;
	padding-left: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.frameborder {
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	overflow: visible;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-style: solid;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
}

.STextArea {
	width: 100%;
}

.titledbordertitle {
   font-family: sans-serif;
   font-size: 12px;
   color: #000000;
}

.SScrollBar {
	font-size: 1px;
	border-width: 0px;
}

.selection {
   background-color: #AAAAFF;
}

.STabbedPane_right {
    vertical-align: top;
    text-align: left;
}

.STabbedPane_left {
    vertical-align: top;
    text-align: right;
}

.STabbedPane_top,
.STabbedPane_bottom {
    text-align: left;
}

.STabbedPane_Tab_top,
.STabbedPane_Tab_bottom,
.STabbedPane_Tab_left,
.STabbedPane_Tab_right {
    border: 1px solid black;
    white-space: nowrap;
    line-height: 1.6em;
}
td.STabbedPane_pane {
    border: 2px ridge black;
    width: 100%;
    height: 100%;
}

.STabbedPane_Tab_top {
    border-bottom: none !important;
}
.STabbedPane_Tab_bottom {
    border-top: none !important;
}

.STabbedPane_Tab_left {
    border-right: none !important;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.STabbedPane_Tab_right {
    border-left: none !important;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.STabbedPane_Tab_selected {
    background-color: #f6decc;
}

.STabbedPane_Tab_disabled {
    color : #808080;
}

.SPanel, .SContainer{
    width: 100%;
    height: 100%;
}

.SForm {
    width: 100%;
}

table.SBorderLayout {
    width: 100%;
    height: 100%;
}

/* ---------- Menus */
table.SMenuBar{
    width:100%;
    background-color: #eef;
    border-bottom: 1px solid #ccc;
    color: #000044;
}

/* clears the menu */
table.SMenuBar div.spacer {
    height:0px;
    clear: both;
}

table.SMenuBar div.SMenu,
table.SMenuBar div.SMenu_Disabled {
    float:left;
    clear:right;
    border-style: solid;
    border-width: 1px;
    border-color: #eee #999 #999 #eee;
    padding:1px 3px 1px 3px;
    background:#eef;
    white-space:nowrap;
    margin:0;
}

table.SMenuBar div.SMenu{
    color: #004;
}

table.SMenuBar div.SMenu_Disabled {
    color: #666;
}

table.SMenu A,
table.SPopupMenu A {
    padding:1px 3px 1px 3px;
    display:block;
    white-space:nowrap;
    margin:0;
}
 
table.SMenu a, table.SMenu a:visited,
table.SPopupMenu a, table.SPopupMenu a:visited {
    color:#000;
}

table.SMenu a:hover,
table.SPopupMenu a:hover {
    color:#fff;
    background:#66b;
}

table.SMenu a:active,
table.SPopupMenu a:active{
    color:#aaa;
    background:#66b;
}

table.SMenu .SMenu_Disabled a,
table.SMenu .SMenuItem_Disabled a,
table.SPopupMenu .SMenu_Disabled a,
table.SPopupMenu .SMenuItem_Disabled a {
    color:#666;
}

table.SMenu .SMenu_Disabled a:hover,
table.SMenu .SMenuItem_Disabled a:hover,
table.SPopupMenu .SMenu_Disabled a:hover,
table.SPopupMenu .SMenuItem_Disabled a:hover{
    background:#eee;
}

table.SMenu li,
table.SPopupMenu li {
    position:relative;
    background: #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #999;
    width:auto;
}

table.SMenu ul,
table.SPopupMenu ul{
    list-style:none;
    margin:0px;
    padding:0px;
    position:absolute;
    z-index:500;
    top:auto;
    display:none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #999;
    width:auto;
}

table.SMenu ul ul,
table.SPopupMenu ul ul{
    top:-1px;
    left:100%;
}

/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

table.SMenu li:hover,
table.SPopupMenu li:hover{
cursor:pointer;
z-index:100;
}

table.SMenu li:hover ul ul,
table.SMenu li li:hover ul ul,
table.SMenu li li li:hover ul ul,
table.SMenu li li li li:hover ul ul,
table.SPopupMenu li:hover ul ul,
table.SPopupMenu li li:hover ul ul,
table.SPopupMenu li li li:hover ul ul,
table.SPopupMenu li li li li:hover ul ul
{display:none;}

table.SMenu li:hover ul,
table.SMenu li li:hover ul,
table.SMenu li li li:hover ul,
table.SMenu li li li li:hover ul,
table.SPopupMenu li:hover ul,
table.SPopupMenu li li:hover ul,
table.SPopupMenu li li li:hover ul,
table.SPopupMenu li li li li:hover ul
{display:block;}

/* End of non-anchor hover selectors */

/* Styling for Expand */

table.SMenu a.x, table.SMenu a.x:visited,
table.SMenu a.y, table.SMenu a.y:visited, table.SMenu a.y:hover,
table.SPopupMenu a.x, table.SPopupMenu a.x:visited,
table.SPopupMenu a.y, table.SPopupMenu a.y:visited, table.SPopupMenu a.y:hover{
    background:#eee url( 'org/wings/icons/MenuArrowRight.gif' ) no-repeat center right;
    padding-right:10px;
}

table.SMenu a.x:hover,
table.SPopupMenu a.x:hover{
    background:#66b url("org/wings/icons/MenuArrowRight.gif") no-repeat center right;
    padding-right:10px;
}

table.SPopupMenu ul li,
table.SMenu ul li
{float:left;height:1%;}

table.SPopupMenu ul li a,
table.SMenu ul li a
{height:1%;}
