wings/build/
wings/dist/
wings2/dist/
wings2/src/java/org/wings/Version.java
wings2/build/
wingx/build/
wingx/dist/
wingx/lib/
wings2/.classpath
wings2/.project
*~
wings2/copy.sh
wings2/.settings/

.idea
idea-build/
