div.Bird {
    border: 1px solid #ccc;
    margin: .2em;
}
div.Bird_Box {
    display:block;
}

div.BirdTitleBar > div.WindowBar {
	padding:.2em;
	background-color: #aaf;
}

div.BirdTitleBar > div.WindowBar > div.WindowBar_title {
	padding-right:4em;
	white-space:pre;
}

div.BirdTitleBar > div.WindowBar  a.WindowButton,
div.BirdTitleBar > div.WindowBar  button.WindowButton {
	float: right;
}

div.Bird > div.WindowContent {
	padding: .2em;
}

div.BirdNest_Box {
    display:block;
}

div.BirdNest div.spacer {
    height:0px;
    clear: both ;
	line-height:0px; /* for konq */
    font-size: 1px; /* for konq */
}
