/*
   $Id$
   wings core CSS Style Sheet for gecko Browser (Mozilla, FireFox).

   Includes CSS definitions that are required for wings to work correctly.
   - Please use additional user styles for visual application styling
   - Please avoid generic/global css selectors and use the wings css classes in your selection path
*/

/* needed for strict mode height scaling */
HTML {
	height: 100%;
}
BODY {
    height: 100%;
}

/* either use this or cellpadding/cellspacing/border in table element.
   css overwrites all attributes! */
table {
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    border: none;
}

th, td {
    padding: 0px;
    margin: 0px;
	border: none; /* gecko bug (OL) */
}

/* tables inherit certain properties from their parents. These need to be
   defined here. This works with konq, moz, opera. */
table tr {
	text-align:inherit;
	vertical-align:inherit;
/*	these already work without specifying them
	background-color:inherit;
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
	color:inherit;*/
}

/* this stays in here! 
   it switches the gecko-compatible browsers into border-box mode */
div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* DIV, FORM, TD, TH {
    color: inherit;
    background-color: inherit;
    padding: 0px;
    margin: 0px;
    border: none;
} */

/* Which of these do we need? and why? */
 A, BUTTON {
    display: table;
/*
    border: 0px;
    padding: 0px;
    margin: 0px;
    color: inherit;
    background-color: inherit;
*/
}

/* TODO -- move this too renderer? */
IMG {
/*    padding: 0px;
    margin: 0px;*/
	/* keeps images inside tabs */
    vertical-align: middle;
    /* Avoid those ugly borders around linked imgs's */
    border: none !important;
}


/* HR {
     margin-top: 0;
     margin-bottom: 0
} */


div.SLabel_Box {
	display: table;
}

div.SLabel {
    /*font-size: 12px;
    color: #000044;
	white-space: nowrap;*/
}

pre.label {
	font-family: inherit;
	margin: 0px;
	padding: 0px;
}

div.SButton_Box {
    display: table;
}

div.SButton {
    color: #000044;
}

div.SButton > button {
    border: 1px solid #cccccc;
    background-color: #eeeeff;
}

div.SButton > button:hover {
    border: 1px outset #cccccc;
}

div.SButton > button[disabled="true"] * {
    opacity: 0.7;
}

div.SButton > button:hover[disabled="true"] {
    border: 1px solid #cccccc;
}

div.SRadioButton_Box {
	display: table;
}

div.SClickable > button {
    background-color: inherit;
    border: 1px none;
}

div.SClickable > button:hover {
    border: 1px solid gray;
}

div.SToolbar {
}

div.SToolbar > table {
    background-color: inherit !important;
    border: 1px none !important;
}

div.SToolbar > table > tbody > tr > td {
    background-color: inherit !important;
    padding: 2px;
}

div.SToolbar div.SButton {
    background-color: inherit !important;
    border: 1px none !important;
}

div.STextField {
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

div.STextField > input[disabled="true"] {
    opacity: 0.7;
}

div.STextField > input[readonly="true"] {
    background-color: #eeeeff;
}

div.SFormattedTextField {
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

div.SFormattedTextField > input[disabled="true"] {
    opacity: 0.7;
}

div.SFormattedTextField > input[readonly="true"] {
    background-color: #eeeeff;
}

div.STree {
	vertical-align: top;
	text-align: left;
}

ul.STree{
	list-style: none;
}

ul.STree > li {
	padding-left: -20px;
	margin-left: -20px;
}

ul.STree > li * {
	white-space: nowrap;
}

ul.STree > li[selected="true"] > table > tbody > tr > td > a > div {
    background-color: #f6decc;
    border: 1px dotted black;
}

ul.STree > li button {
    border: none;
    background-color: inherit;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

ul.STree > li > div.SSubTree {
	background-image: url(icons/TreeLine.gif);
	background-repeat:repeat-y;
	background-position: 0px 100px;
}

div.STable > table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

div.STable > table > tbody > tr[odd="true"] {
    background-color: #eeeeee;
}

div.STable > table > tbody > tr[selected="true"] {
    background-color: #f6decc !important;
}

div.STable > table > thead > tr > th {
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
}

div.STable > table > tbody > tr > td {
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    border-left: 1px solid black;
}

/* let the link span the whole table */
div.STable > table > tbody > tr > td > a {
	display: block;
	width: 100%;
}

div.STable > table > tbody > tr > td[col="numbering"] {
    text-align: right;
}

div.STable > table > tbody > tr > td button {
    border: none;
    background-color: inherit;
    padding: 0px
}

div.SList > * > li[selected="true"] {
    background-color: #f6decc !important;
    border: 1px dotted black;
    cursor: pointer
}

.SAnchor {
    color: #000044;
}

.SSeparator {
	color: #CCCCCC;
	height: 0px;
	white-space: nowrap;
	margin: 0px; 
	padding: 0px;
	border-style: inset;
	border-width: 1px;
}

.STextArea {
	width: 100%;
}

div.SScrollBar_Box {
    height: 100%;
    width: 100%;
}

div.SScrollBar, div.SPageScroller {
    height: 100%;
    width: 100%;
}

div.SScrollBar table[area="buttons"], div.SPageScroller table[area="buttons"] {
    background-color: #eeeeff;
}

div.SScrollBar > table[orientation="vertical"], div.SPageScroller > table[orientation="vertical"] {
    height: 100%;
}

div.SScrollBar > table[orientation="horizontal"], div.SPageScroller > table[orientation="horizontal"] {
    width: 100%;
    height: auto;
}

div.SScrollBar table[area="buttons"] button, div.SScrollBar table[area="buttons"] a {
    border: 1px solid #cccccc;
}

div.SScrollBar table[area="buttons"] button:hover, div.SScrollBar table[area="buttons"] a:hover {
    border: 1px outset #cccccc;
}

div.SPageScroller table[area="buttons"] button, div.SPageScroller table[area="buttons"] a {
    border: 1px solid #cccccc;
}

div.SPageScroller table[area="buttons"] button:hover, div.SPageScroller table[area="buttons"] a:hover {
    border: 1px outset #cccccc;
}

div.SPageScroller table[area="pages"] button, div.SPageScroller table[area="pages"] a {
    border: 1px none;
}

div.SPageScroller table[area="pages"] button:hover, div.SPageScroller table[area="pages"] a:hover {
    border: 1px outset #cccccc;
}


div.SScrollPane > div.SList_Box, div.SScrollPane > div.STree_Box, div.SScrollPane > div.STable_Box {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

div.STabbedPane, div.STabbedPane > table {
    width: 100%;
    height: 100%;
}

div.STabbedPane > table > tbody > tr > th > * {
    display: inline;
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
    line-height: 1.6em;
}

div.STabbedPane > table > tbody > tr > th > *[selected="true"] {
    background-color: #f6decc;
}

div.STabbedPane > table > tbody > tr > th > *[disabled="true"] {
    color : #808080;
}

div.STabbedPane > table > tbody > tr > td {
    border: 2px ridge black;
    width: 100%;
    height: auto;
}

div.STabbedPane > table > tbody > tr > th[placement="top"] {
    text-align: left;
}

div.STabbedPane > table > tbody > tr > th[placement="top"] > a {
    border-bottom: none !important;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
}

div.STabbedPane > table > tbody > tr > th[placement="left"] {
    vertical-align: top;
    text-align: right;
}

div.STabbedPane > table > tbody > tr > th[placement="left"] > a {
    display: block;
    border-right: none !important;
    margin-top: 2px;
    margin-bottom: 2px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
}

div.STabbedPane > table > tbody > tr > th[placement="right"] {
    vertical-align: top;
    text-align: left;
}

div.STabbedPane > table > tbody > tr > th[placement="right"] > a {
    display: block;
    border-left: none !important;
    margin-top: 2px;
    margin-bottom: 2px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

div.STabbedPane > table > tbody > tr > th[placement="bottom"] {
    text-align: left;
}

div.STabbedPane > table > tbody > tr > th[placement="bottom"] > a {
    border-top: none !important;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
}

div.SPanel, div.SContainer {
    width: 100%;
    height: 100%;
}

table.SBorderLayout
/* the layouts should all have 100% width & height */
/*,
table.SBoxLayout,
table.SGridLayout,
table.SGridBagLayout,
table.SFlowLayout
*/ {
    width: 100%;
    height: 100%;
}

.SLabel .STitledBorderLegend {
    position: absolute;
    margin-top: -1.7em;
    margin-left: 1.0em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background-color: inherit;
}

div.SDesktopPane > table > tbody > tr > td {
    padding-top: 1em;
}

div.SInternalFrame {
    border: 1px solid #cccccc;
}

div.SInternalFrame > table > tbody > tr > th {
    padding-left: 1px;
    padding-right: 1px;
}

div.SInternalFrame > table > tbody > tr > th[col="title"] {
    background-color: #aaaaff;
    text-align: left;
    width: 100%;
}

div.SInternalFrame > table > tbody > tr > td {
    vertical-align: top;
}

div.SInternalFrame > table > tbody > tr > * {
    border: 1px solid #cccccc;
}

div.SDialog_Box {
    display: table;
}

div.SDialog {
    border: 1px solid #cccccc;
}

div.SDialog > table > tbody > tr > th {
    padding-left: 1px;
    padding-right: 1px;
}

div.SDialog > table > tbody > tr > th[col="title"] {
    background-color: #aaaaff;
    text-align: left;
    width: 100%;
}

div.SDialog > table > tbody > tr > * {
    border: 1px solid #cccccc;
}

div.SOptionPane_Box {
    display: table;
}

div.SOptionPane {
	display: table-cell;
    border: 1px solid #cccccc;
}

div.SOptionPane > table > tbody > tr > th {
    padding-left: 1px;
    padding-right: 1px;
}

div.SOptionPane > table > tbody > tr > th[col="title"] {
    background-color: #aaaaff;
    text-align: left;
    width: 100%;
}

div.SOptionPane > table > tbody > tr > * {
    border: 1px solid #cccccc;
}

div.domTT {
    border: 1px solid #333333;
    -moz-opacity: 0.8;
}

div.domTTCaption {
    font-family: serif;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 2px;
    color: #FFFFFF;
    background-color: #333333;
}

div.domTTContent {
    font-size: 12px;
    font-family: sans-serif;
    padding: 3px 2px;
    background-color: #F1F1FF;
}

/* SMenu common */

div.SMenuBar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align:left;
}

/* JS Menu*/

div.SMenuBar_js {
    color: #004;
    background-color: #eef;
    border-bottom: 1px solid #ccc;
}

div.SMenuBar_js > span > span {
	padding:1px 3px 1px 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #EEE #999 #999 #eee;
}

div.SMenuBar_js .SMenu {
	white-space: nowrap;
  	color: #004;
	background-color: #77c;
}

div.SMenuBar_js .SMenuDisabledMenu {
	color: gray;
	background-color: #eee;
	white-space: nowrap;
}

div.SMenuBar_js .SMenuJSmenu,
div.SPopupMenu .SMenuJSmenu {
  	color: #fff;
	background-color: #66b;
	white-space: nowrap;
}


div.SMenuBar_js .SMenuPopup,
div.SPopupMenu .SMenuPopup {
	background-color: #eee;
	border-style: solid;
	border-width: 2px;
	border-color: #EEE #999 #999 #eee;
	position: absolute;
	overflow: visible;
	padding: 2px 2px 2px 0px;
}

div.SMenuBar_js div.SMenuPopup > div,
div.SPopupMenu div.SMenuPopup > div {
	padding: 0px 10px 0px 0px;
}

div.SMenuBar_js div.SMenuPopup > div > img,
div.SPopupMenu div.SMenuPopup > div > img {
    position: absolute;
    right: 0px;
}

div.SMenuBar_js .SMenuPopupItem,
div.SPopupMenu .SMenuPopupItem {
	color: #004;
	background-color: #eee;
	white-space: nowrap;
}

div.SMenuBar_js .SMenuDisabledMenuitem,
div.SPopupMenu .SMenuDisabledMenuitem {
	color: gray;
	background-color: #eee;
	white-space: nowrap;
}

div.SMenuBar_js .SMenuJSmenuitem,
div.SPopupMenu .SMenuJSmenuitem {
	color: #fff;
	background-color: #66b;
	white-space: nowrap;
}

/* END JS Menu */

/* CSS Menus - Horizontal CSS Menu with Dropdown and Popout Menus - 20050131 */

/* Begin CSS Popout Menu */

div.SMenuBar_css{
width:100%;
background-color: #eef;
border-bottom: 1px solid #ccc;
color: #000044;
float:left;
clear:right;
}

/* clears the menu */
div.SMenuBar div.spacer {
clear: both;
}

div.SMenuBar_css a, div.SMenuBar_css span{
display:block;
white-space:nowrap;
margin:0;
}

div.SMenuBar_css span{
color: #004;
background:#eef;
padding:1px 3px 1px 3px;
}

div.SMenuBar_css a {
width:100%;
}

div.SMenuBar_css a, div.SMenuBar_css a:visited{
color:#000;
}

div.SMenuBar_css a:hover{
color:#fff;
background:#66b;
}

div.SMenuBar_css a:active{
color:#aaa;
background:#66b;
}

div.SMenuBar_css .SMenu_Disabled a:hover,
div.SMenuBar_css .SMenuItem_Disabled a:hover{
background:#eee;
}

div.SMenuBar_css ul{
list-style:none;
margin:0;
padding:0;
float:left;
}

div.SMenuBar_css ul.SMenu{
border-top: 1px solid #eee;
border-bottom: 1px solid #999;
}

div.SMenuBar_css ul.SMenu li{
background: #eee;
border-left: 1px solid #eee;
border-right: 1px solid #999;
}

div.SMenuBar_css li.SMenu_Disabled a,
div.SMenuBar_css li.SMenuItem_Disabled a,
div.SMenuBar_css span.TopMenu_Disabled {
color: #666;
}

div.SMenuBar_css li{
position:relative;
display:block;
}

div.SMenuBar_css ul ul{
position:absolute;
z-index:500;
top:auto;
display:none;
}

div.SMenuBar_css ul ul ul{
top:-1px;
left:100%;
}

div.SMenuBar_css ul.SMenu_Main {
border-style: solid;
border-width: 1px;
border-color: #eee #999 #999 #eee;
}
/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

div.SMenuBar_css span.TopMenu:hover{
background:#dde;
}

div.SMenuBar_css li:hover{
cursor:pointer;
z-index:100;
}

div.SMenuBar_css li:hover ul ul,
div.SMenuBar_css li li:hover ul ul,
div.SMenuBar_css li li li:hover ul ul,
div.SMenuBar_css li li li li:hover ul ul
{display:none;}

div.SMenuBar_css li:hover ul,
div.SMenuBar_css li li:hover ul,
div.SMenuBar_css li li li:hover ul,
div.SMenuBar_css li li li li:hover ul
{display:block;}

/* End of non-anchor hover selectors */

/* Styling for Expand */

div.SMenuBar_css a.x, div.SMenuBar_css a.x:visited{
background:#eee url(icons/MenuArrowRight.gif) no-repeat center right;
}

div.SMenuBar_css a.x:hover{
background:#66b url(icons/MenuArrowRight.gif) no-repeat center right;
}

div.SMenuBar_css a.x:active{
}

/* End CSS Popout Menu */
