BODY {
    background: #ffffff;
    margin: 0px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 12px;
}

table {
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

div, form, td, th {
    color: inherit;
    background-color: inherit;
    padding: 0px;
    margin: 0px;
}

a, button {
    display: table;
}

A:link, A:visited {
   color: #000066;
   text-decoration: none
}

A:active {
   color: #0000FF;
   text-decoration: none
}

HR { 
   margin-top: 0;
   margin-bottom: 0 
}

IMG {
    border: none !important;
    vertical-align: middle;
}

TH, TD {
    font-size: 12px;
}

div.SLabel {
   font-size: 12px;
   color: #000044;
}

div.SButton {
   font-size: 12px;
   color: #000044;
}

div.SButton > button {
   border: 1px solid #cccccc;
   background-color: #eeeeff;
}

div.SButton > button:hover {
   border: 1px outset #cccccc;
}

div.SButton > button[disabled="true"] * {
   opacity: 0.5;
}

div.SClickable > button {
   background-color: inherit;
   border: 1px none;
}

div.SClickable > button:hover {
   border: 1px solid gray;
}

div.SToolbar > table {
    background-color: inherit !important;
    border: 1px none !important;
}

div.SToolbar > table > tbody > tr > td {
    background-color: inherit !important;
    padding: 2px;
}

div.SToolbar div.SButton {
    background-color: inherit !important;
    border: 1px none !important;
}

div.STextField {
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000;
}

div.STree > table {
   border: none;
   border-spacing: 0px;
}

div.STree > table > tbody > tr > td {
    padding: 0px
    border: 1px none black;
    cursor: pointer;
}

div.STree > table > tbody > tr > td * {
    white-space: nowrap;
}

div.STree > table > tbody > tr > td[selected="true"] {
    background-color: #aaaaff;
    border: 1px dotted black;
}

div.STree > table > tbody > tr > td button {
    border: none;
    background-color: inherit;
    padding: 0px
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

div.STable > table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

div.STable > table > tbody > tr[odd="true"] {
    background-color: #eeeeee;
}

div.STable > table > tbody > tr[selected="true"] {
    background-color: #aaaaff !important;
}

div.STable > table > thead > tr > th {
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
}

div.STable > table > tbody > tr > td {
    cursor: pointer
    padding-left: 8px;
    padding-right: 8px;
    border-left: 1px solid black;
}
div.STable > table > tbody > tr > td[col="numbering"] {
    text-align: right;
}

div.STable > table > tbody > tr > td button {
    border: none;
    background-color: inherit;
    padding: 0px
}

div.SList > * {
}

div.SList > * > li[selected="true"] {
    background-color: #aaaaff !important;
    border: 1px dotted black;
    cursor: pointer
}

.SAnchor {
   color: #000044;
}

.SMenuBar {
    color: #000044;
    background-color: #eeeeff;
    border-bottom: 1px solid #cccccc;
}

.SMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000044;
	background-color: #CCCCCC;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.disabledmenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: darkgray;
	background-color: #CCCCCC;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.amenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
  	color: #ffffff;
	background-color: #5555AA;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.smenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
  	color: #ffffff;
	background-color: #7777CC;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.pdmenu {
	background-color: #CCCCCC;
	border-style: solid;
	border-width: 2px;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	position: absolute;
	overflow: visible;
	padding: 2px 2px 2px 0px;
	margin: 0px;
}

.menuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000044;
	background-color: #CCCCCC;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.disabledmenuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: darkgray;
	background-color: #CCCCCC;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.amenuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
  	color: #ffffff;
	background-color: #5555AA;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.SSeparator {
	color: #CCCCCC;
	height: 0px;
	white-space: nowrap;
	margin: 0px; 
	padding: 0px;
	border-style: inset;
	border-width: 1px;
}

.STextArea {
	width: 100%;
}

.titledbordertitle {
   font-family: sans-serif;
   font-size: 12px;
   color: #000000;
}

.SScrollBar {
	font-size: 1px;
	border-width: 0px;
}

.selection {
   background-color: #AAAAFF;
}

div.STabbedPane, div.STabbedPane > table {
    width: 100%;
    height: 100%;
}
div.STabbedPane > table > tbody > tr > th > * {
    display: inline;
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
    line-height: 1.6em;
}
div.STabbedPane > table > tbody > tr > th > *[selected="true"] {
    background-color: #aaaaff;
}
div.STabbedPane > table > tbody > tr > th > *[disabled="true"] {
    color : #808080;
}
div.STabbedPane > table > tbody > tr > td {
    border: 2px ridge black;
    width: 100%;
    height: 100%;
}

div.STabbedPane > table > tbody > tr > th[placement="top"] {
    text-align: left;
}
div.STabbedPane > table > tbody > tr > th[placement="top"] > a {
    border-bottom: none !important;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
}

div.STabbedPane > table > tbody > tr > th[placement="left"] {
    vertical-align: top;
    text-align: right;
}
div.STabbedPane > table > tbody > tr > th[placement="left"] > a {
    display: block;
    border-right: none !important;
    margin-top: 2px;
    margin-bottom: 2px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
}

div.STabbedPane > table > tbody > tr > th[placement="right"] {
    vertical-align: top;
    text-align: left;
}
div.STabbedPane > table > tbody > tr > th[placement="right"] > a {
    display: block;
    border-left: none !important;
    margin-top: 2px;
    margin-bottom: 2px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

div.STabbedPane > table > tbody > tr > th[placement="bottom"] {
    text-align: left;
}
div.STabbedPane > table > tbody > tr > th[placement="bottom"] > a {
    border-top: none !important;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
}

div.SPanel, div.SContainer {
    width: 100%;
    height: 100%;
}

table.SBorderLayout {
    width: 100%;
    height: 100%;
}

table.SBorderLayout > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

.legend {
   position: absolute;
   margin-top: -1.7em;
   margin-left: 1.0em;
   padding-left: 0.4em;
   padding-right: 0.4em;
}

div.SDesktopPane > table > tbody > tr > td {
    padding-top: 1em;
}

div.SInternalFrame {
   border: 1px solid #cccccc;
}

div.SInternalFrame > table > tbody > tr > th {
   padding-left: 1px;
   padding-right: 1px;
}

div.SInternalFrame > table > tbody > tr > th[col="title"] {
   background-color: #aaaaff;
   text-align: left;
   width: 100%;
}

div.SInternalFrame > table > tbody > tr > * {
   border: 1px solid #cccccc;
}


div.SDialog > table {
   border: 1px outset gray;
   border-collapse: collapse;
}

div.SDialog > table > tbody > tr > th {
   background-color: #aaaaff;
   color: #ffffff;
   text-align: left;
   padding-left: 8px;
}

div.SDialog > table > tbody > tr > td {
   border: 1px inset #aaaaff;
}


div.SOptionPane > table {
   border: 1px outset gray;
   border-collapse: collapse;
}

div.SOptionPane > table > tbody > tr > th {
   background-color: #aaaaff;
   color: #ffffff;
   text-align: left;
   padding-left: 8px;
}

div.SOptionPane > table > tbody > tr > td {
   border: 1px inset #aaaaff;
}


div.domTT {
    border: 1px solid #333333;
    opacity: 0.8;
}
div.domTTCaption {
    font-family: serif;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 2px;
    color: #FFFFFF;
    background-color: #333333;
}
div.domTTContent {
    font-size: 12px;
    font-family: sans-serif;
    padding: 3px 2px;
    background-color: #F1F1FF;
}
