HTML {
	height: 100%;
}

BODY {
    background: #ffffff;
    margin: 0px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 12px;
    height: 100%;
}

table {
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    border: none;
}

div, form, td, th {
    color: inherit;
    background-color: inherit;
    padding: 0px;
    margin: 0px;
    border: none;
}

textarea, input[type="text"], select {
    background-color: #f6decc;
    border: 1px solid #e66e32;
}

a, button {
    display: table;
    border: 0px;
    padding: 0px;
    margin: 0px;
    color: inherit;
    background-color: inherit;
}


img {
    border: 0px;
    padding: 0px;
    margin: 0px;
    border: none !important;
    vertical-align: middle;
}

A:link, A:visited {
   color: #000066;
   text-decoration: none;
}

A:active {
   color: #0000FF;
   text-decoration: none
}

HR { 
   margin-top: 0;
   margin-bottom: 0 
}

TH, TD {
    font-size: 12px;
}

div.SLabel {
   font-size: 12px;
   color: #000044;
}

div.SButton {
   font-size: 12px;
   color: #000044;
}

div.SButton > button {
   border: 1px solid #cccccc;
   background-color: #eeeeff;
}

div.SButton > button:hover {
   border: 1px outset #cccccc;
}

div.SButton > button[disabled="true"] * {
   opacity: 0.7;
}

div.SButton > button:hover[disabled="true"] {
   border: 1px solid #cccccc;
}

div.SClickable > button {
   background-color: inherit;
   border: 1px none;
}

div.SClickable > button:hover {
   border: 1px solid gray;
}

div.SToolbar > table {
    background-color: inherit !important;
    border: 1px none !important;
}

div.SToolbar > table > tbody > tr > td {
    background-color: inherit !important;
    padding: 2px;
}

div.SToolbar div.SButton {
    background-color: inherit !important;
    border: 1px none !important;
}

div.STextField {
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000;
}

div.STree {
	vertical-align: top;
	text-align: left;
}
ul.STree{
	list-style: none;
}
ul.STree > li {
	padding-left: -20px;
	margin-left: -20px;
}
ul.STree > li * {
	white-space: nowrap;
}
ul.STree > li[selected="true"] > table {
    background-color: #f6decc;
    border: 1px dotted black;
}
ul.STree > li button {
    border: none;
    background-color: inherit;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}
ul.STree > li > div.SSubTree {
	background-image: url(icons/TreeLine.gif);
	background-repeat:repeat-y;
	background-position: 0px 100px;
}
div.STable > table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

div.STable > table > tbody > tr[odd="true"] {
    background-color: #eeeeee;
}

div.STable > table > tbody > tr[selected="true"] {
    background-color: #f6decc !important;
}

div.STable > table > thead > tr > th {
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
}

div.STable > table > tbody > tr > td {
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    border-left: 1px solid black;
}
div.STable > table > tbody > tr > td[col="numbering"] {
    text-align: right;
}

div.STable > table > tbody > tr > td button {
    border: none;
    background-color: inherit;
    padding: 0px
}

div.SList > * {
}

div.SList > * > li[selected="true"] {
    background-color: #f6decc !important;
    border: 1px dotted black;
    cursor: pointer
}

.SAnchor {
   color: #000044;
}

.SMenuBar {
    color: #000044;
    background-color: #eeeeff;
    border-bottom: 1px solid #cccccc;
}

.SMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
  	color: #ffffff;
	background-color: #7777CC;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.disabledmenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: gray;
	background-color: #CCCCCC;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.amenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
  	color: #ffffff;
	background-color: #5555AA;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}


.pdmenu {
	background-color: #CCCCCC;
	border-style: solid;
	border-width: 2px;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	position: absolute;
	overflow: visible;
	padding: 2px 2px 2px 0px;
	margin: 0px;
}

.menuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000044;
	background-color: #CCCCCC;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.disabledmenuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: gray;
	background-color: #CCCCCC;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.amenuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
  	color: #ffffff;
	background-color: #5555AA;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.SSeparator {
	color: #CCCCCC;
	height: 0px;
	white-space: nowrap;
	margin: 0px; 
	padding: 0px;
	border-style: inset;
	border-width: 1px;
}

.STextArea {
	width: 100%;
}

div.SScrollBar, div.SPageScroller {
    height: 100%;
    width: 100%;
}

div.SScrollBar table[area="buttons"], div.SPageScroller table[area="buttons"] {
    background-color: #eeeeff;
}

div.SScrollBar > table[orientation="vertical"], div.SPageScroller > table[orientation="vertical"] {
    height: 100%;
}

div.SScrollBar > table[orientation="horizontal"], div.SPageScroller > table[orientation="horizontal"] {
    width: 100%;
    height: auto;
}

div.SScrollBar table[area="buttons"] button, div.SScrollBar table[area="buttons"] a {
   border: 1px solid #cccccc;
}

div.SScrollBar table[area="buttons"] button:hover, div.SScrollBar table[area="buttons"] a:hover {
   border: 1px outset #cccccc;
}

div.SPageScroller table[area="buttons"] button, div.SPageScroller table[area="buttons"] a {
   border: 1px solid #cccccc;
}

div.SPageScroller table[area="buttons"] button:hover, div.SPageScroller table[area="buttons"] a:hover {
   border: 1px outset #cccccc;
}

div.SPageScroller table[area="pages"] button, div.SPageScroller table[area="pages"] a {
   border: 1px none;
}

div.SPageScroller table[area="pages"] button:hover, div.SPageScroller table[area="pages"] a:hover {
   border: 1px outset #cccccc;
}


div.SScrollPane > div.SList, div.SScrollPane > div.STree, div.SScrollPane > div.STable {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

div.STabbedPane, div.STabbedPane > table {
    width: 100%;
    height: 100%;
}
div.STabbedPane > table > tbody > tr > th > * {
    display: inline;
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
    line-height: 1.6em;
}
div.STabbedPane > table > tbody > tr > th > *[selected="true"] {
    background-color: #f6decc;
}
div.STabbedPane > table > tbody > tr > th > *[disabled="true"] {
    color : #808080;
}
div.STabbedPane > table > tbody > tr > td {
    border: 2px ridge black;
    width: 100%;
    height: auto;
}

div.STabbedPane > table > tbody > tr > th[placement="top"] {
    text-align: left;
}
div.STabbedPane > table > tbody > tr > th[placement="top"] > a {
    border-bottom: none !important;
}

div.STabbedPane > table > tbody > tr > th[placement="left"] {
    width: 0%;
    vertical-align: top;
    text-align: right;
}
div.STabbedPane > table > tbody > tr > th[placement="left"] > a {
    display: block;
    border-right: none !important;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.STabbedPane > table > tbody > tr > th[placement="right"] {
    width: 0%;
    vertical-align: top;
    text-align: left;
}
div.STabbedPane > table > tbody > tr > th[placement="right"] > a {
    display: block;
    border-left: none !important;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.STabbedPane > table > tbody > tr > th[placement="bottom"] {
    text-align: left;
}
div.STabbedPane > table > tbody > tr > th[placement="bottom"] > a {
    border-top: none !important;
}

div.SPanel, div.SContainer {
    width: 100%;
    height: auto;
}

table.SBorderLayout {
    width: 100%;
    height: auto;
}

table.SBorderLayout > tr > td {
    vertical-align: middle;
    text-align: center;
}

.legend {
   position: absolute;
   margin-top: -1.7em;
   margin-left: 1.0em;
   padding-left: 0.4em;
   padding-right: 0.4em;
}

div.SDesktopPane > table > tbody > tr > td {
    padding-top: 1em;
}

div.SInternalFrame {
   border: 1px solid #cccccc;
}

div.SInternalFrame > table > tbody > tr > th {
   padding-left: 1px;
   padding-right: 1px;
}

div.SInternalFrame > table > tbody > tr > th[col="title"] {
   background-color: #aaaaff;
   text-align: left;
   width: 100%;
}

div.SInternalFrame > table > tbody > tr > * {
   border: 1px solid #cccccc;
}

div.SDialog {
   border: 1px solid #cccccc;
}

div.SDialog > table > tbody > tr > th {
   padding-left: 1px;
   padding-right: 1px;
}

div.SDialog > table > tbody > tr > th[col="title"] {
   background-color: #aaaaff;
   text-align: left;
   width: 100%;
}

div.SDialog > table > tbody > tr > * {
   border: 1px solid #cccccc;
}

div.SOptionPane {
   border: 1px solid #cccccc;
}

div.SOptionPane > table > tbody > tr > th {
   padding-left: 1px;
   padding-right: 1px;
}

div.SOptionPane > table > tbody > tr > th[col="title"] {
   background-color: #aaaaff;
   text-align: left;
   width: 100%;
}

div.SOptionPane > table > tbody > tr > * {
   border: 1px solid #cccccc;
}

div.domTT {
    border: 1px solid #333333;
    opacity: 0.8;
}
div.domTTCaption {
    font-family: serif;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 2px;
    color: #FFFFFF;
    background-color: #333333;
}
div.domTTContent {
    font-size: 12px;
    font-family: sans-serif;
    padding: 3px 2px;
    background-color: #F1F1FF;
}
