/*
   $Id$
   j-wings Default Style Sheet for IE Browser.

   CURRENTLY NOT IN A WORKING STATE -- WE DEVEL ON GECKO!  
*/

BODY {
    background: #dedede;
    position: relative;
    margin: 0px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 14px;
    width: inherit;
    height: inherit;
}

div, form {
    color: inherit;
    background-color: inherit;
    font-size: 0px;
    padding: 0px;
    margin: 0px;
}

A:link, A:visited {
   color: #000066;
   text-decoration: none
}

A:active {
   color: #0000FF;
   text-decoration: none
}

HR { 
   margin-top: 0;
   margin-bottom: 0 
}

IMG {
    border: none !important;
    vertical-align: middle;
}

TH, TD {
    font-size: 14px;
}

.SLabel {
   font-family: sans-serif;
   font-weight: bold;
   font-style: normal;
   font-size: 14px;
   color: #000044 
}

.STextField {
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000 
}

.href { 
   color: #990000;
   text-decoration: none;
   font-weight: bold 
}

.selection {
  background-color: #99cccc
}

.SList {
   border-style: none;
   border-width: 0px;
   border-spacing: 2px;
   text-decoration: none;
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000
}

div.STree table {
   border: none;
   border-spacing: 0px;
}

div.STree table tbody tr td {
    padding: 0px
    border: 1px none black;
}

div.STree table tbody tr td * {
    white-space: nowrap;
}

div.STree td.selected {
    background-color: #aaaaff;
    border: 1px dotted black;
}

.STable {
   border-style: solid;
   border-width: 1px;
   border-color: black;
   border-spacing: 0px;
   text-decoration: none;
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000
}

.tableheader {
   font-weight: bold;
   background-color: #dedede
}

.SAnchor {
   color: #000044;
}

.SToolbar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCCCCC;
}

.SMenuBar {
	color: #000066;
	background-color: #CCCCCC;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-style: solid;
	border-width: 1px;
    padding : 0 px;
}

.SMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000066;
	background-color: #CCCCCC;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.disabledmenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: darkgray;
	background-color: #CCCCCC;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.amenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
  	color: #ffffff;
	background-color: #5555AA;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.smenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
  	color: #ffffff;
	background-color: #7777CC;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.pdmenu {
	background-color: #CCCCCC;
	border-style: solid;
	border-width: 2px;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	position: absolute;
	overflow: visible;
	padding: 2px 2px 2px 0px;
	margin: 0px;
}

.SMenuItem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000066;
	background-color: #CCCCCC;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.disabledmenuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: darkgray;
	background-color: #CCCCCC;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.amenuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
  	color: #ffffff;
	background-color: #5555AA;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.SSeparator {
	color: #CCCCCC;
	height: 0px;
	white-space: nowrap;
	margin: 0px; 
	padding: 0px;
	border-style: inset;
	border-width: 1px;
}


.framebutton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
        background-color: #DEDEDE;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	overflow: visible;
	padding: 0px;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}

.frametitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
   	color: #ffffff;
	background-color: #5555AA;
	overflow: visible;
	padding-right: 0px;
	padding-left: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px
}

.frameborder {
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	overflow: visible;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-style: solid;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px
}

.STextArea {
	width: 100%;
}

.titledbordertitle {
   font-family: sans-serif;
   font-size: 12px;
   color: #000000;
}

.SScrollBar {
	font-size: 1px;
	border-width: 0px;
}

.selection {
   background-color: #AAAAFF;
}

a.STabbedPane, button.STabbedPane {
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 1.6em;
}
a.selected, button.selected {
    background-color: #aaaaff;
}
a.disabled, button.disabled {
    color : #808080;
}

td.pane {
    border: 2px ridge black;
    width: 100%;
    height: 100%;
}

th.top {
    text-align: left;
}

th.left {
    vertical-align: top;
    text-align: right;
}

th.right {
    vertical-align: top;
    text-align: left;
}

th.bottom {
    text-align: left;
}


div.STable > table {
    width: 100%;
    border-collapse: collapse;
}

div.STable > table > tr > * {
    border: 1px solid black;
}

div.STable > table > tr[selected="true"] > * {
    background-color: #aaaaff;
}

div.SPanel, div.SContainer {
    width: 100%;
    height: 100%;
}

table.SBorderLayout {
    width: 100%;
    height: 100%;
}

