/*
   $Id$
   wings Default Style Sheet for IE Browser.

   CURRENTLY NOT IN A WORKING STATE -- WE DEVEL ON GECKO!

   Includes CSS definitions that are required for wings to work correctly.
   - Please use additional user styles for visual application styling
   - Please avoid generic/global css selectors and use the wings css classes in your selection path
*/

HTML,BODY,TEXTAREA {
    overflow:auto;     /* get rid of default scrollbars */
}

/* either use this or cellpadding/cellspacing/border in table element.
   css overwrites all attributes! */
table, td{
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    border: none;
}

/* BODY {
    position: relative;
    margin: 0px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 14px;
    height: 100%;
} */

/*DIV, FORM {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}*/

/* TODO -- move this too renderer? */
IMG {
    border: none !important;     /* This is needed to avoid those ugly borders around linked imgs's */
/* padding: 0px;
    margin: 0px;
    vertical-align: middle; */
}

/* HR {
     margin-top: 0;
     margin-bottom: 0
} */

.SToolBar {
	width:100%
}

.SLabel_Box {
	display:table;
}

.SLabel {
   font-family: sans-serif;
   font-weight: bold;
   font-style: normal;
   font-size: 14px;
   color: #000044; 
}

.STextField {
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000; 
}

.href { 
   color: #990000;
   text-decoration: none;
   font-weight: bold; 
}

.selection {
  background-color: #99cccc;
}

.SList {
   border-style: none;
   border-width: 0px;
   text-decoration: none;
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000;
}

div.STree {
	vertical-align: top;
	text-align: left;
}
ul.STree{
	list-style: none;
}
ul.STree li {
	padding-left: -20px;
	margin-left: -20px;
}
ul.STree li * {
	white-space: nowrap;
}

ul.STree li button {
    border: none;
    background-color: inherit;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}
ul.STree li div.SSubTree {
	background-image: url(icons/TreeLine.gif);
	background-repeat:repeat-y;
	background-position: 0px 100px;
}


.STable {
   border-style: solid;
   border-width: 1px;
   border-color: black;
   text-decoration: none;
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000;
}

.tableheader {
   font-weight: bold;
   background-color: #dedede;
}

.SAnchor {
   color: #000044;
}

.SToolbar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCCCCC;
}

.SMenuBar {
	color: #000066;
	background-color: #CCCCCC;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-style: solid;
	border-width: 1px;
   padding : 0px;
}

.SMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
  	color: #ffffff;
	background-color: #7777CC;
}

.SMenuDisabledMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: darkgray;
	background-color: #CCCCCC;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.SMenuJSmenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
  	color: #ffffff;
	background-color: #5555AA;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.SMenuPopup {
	background-color: #CCCCCC;
	border-style: solid;
	border-width: 2px;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	position: absolute;
	overflow: visible;
	padding: 2px 2px 2px 0px;
	margin: 0px;
}

div.pdmenu div.menu, div.pdmenu div.disabledmenu {
    width: 100%;
}

div.pdmenu  div.menu img, div.pdmenu div.disabledmenu img {
    position: absolute;
    right: 0px;
}


.SMenuItem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000066;
	background-color: #CCCCCC;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.SMenuDisabledMenuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: darkgray;
	background-color: #CCCCCC;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.SMenuJSmenuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
  	color: #ffffff;
	background-color: #5555AA;
	white-space: nowrap;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.SSeparator {
	color: #CCCCCC;
	height: 0px;
	white-space: nowrap;
	margin: 0px; 
	padding: 0px;
	border-style: inset;
	border-width: 1px;
}


.framebutton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
        background-color: #DEDEDE;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	overflow: visible;
	padding: 0px;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.frametitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-color: #EEEEEE #999999 #999999 #eeeeee;
   	color: #ffffff;
	background-color: #5555AA;
	overflow: visible;
	padding-right: 0px;
	padding-left: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.frameborder {
	border-color: #EEEEEE #999999 #999999 #eeeeee;
	overflow: visible;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-style: solid;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
}

.STextArea {
	width: 100%;
}

.titledbordertitle {
   font-family: sans-serif;
   font-size: 12px;
   color: #000000;
}

.SScrollBar {
	font-size: 1px;
	border-width: 0px;
}

.selection {
   background-color: #AAAAFF;
}

a.STabbedPane, button.STabbedPane {
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 1.6em;
}
a.selected, button.selected {
    background-color: #aaaaff;
}
a.disabled, button.disabled {
    color : #808080;
}

td.pane {
    border: 2px ridge black;
    width: 100%;
    height: 100%;
}

th.top {
    text-align: left;
}

th.left {
    vertical-align: top;
    text-align: right;
}

th.right {
    vertical-align: top;
    text-align: left;
}

th.bottom {
    text-align: left;
}


.SPanel, .SContainer{
    width: 100%;
    height: 100%;
}

.SForm {
    width: 100%;
}

table.SBorderLayout {
    width: 100%;
    height: 100%;
}

/* CSS Menus - Horizontal CSS Menu with Dropdown and Popout Menus - 20050131 */

/* Begin CSS Popout Menu */

div.SMenuBar div.SMenuBar{
font-family: Verdana, Arial, Helvetica, sans-serif;
width:100%;
float:left;
/*clear:right;*/
background-color: #eef;
border-bottom: 1px solid #ccc;
}

div.SMenuBar_Spacer {
padding-bottom: 12px;
margin-bottom:12px;
}

.SMenuBar a, .SMenuBar span{
display:block;
/*border-width:1px;
border-style:solid;
border-color:#ccc #888 #555 #bbb;*/
white-space:nowrap;
margin:0;
padding:1px 3px 1px 3px;
}

.SMenuBar span{
color: #004;
background:#eef;
}

.SMenuBar a{
background: #eee;
}

.SMenuBar a, .SMenuBar a:visited{
color:#000;
}

.SMenuBar a:hover{
color:#fff;
background:#66b;
}

.SMenuBar a:active{
color:#aaa;
background:#66b;
}

.SMenuBar ul{
list-style:none;
margin:0;
padding:0;
float:left;
width:9em;
}

.SMenuBar ul.SMenu{
border-top: 1px solid #eee;
border-bottom: 1px solid #999;
}

.SMenuBar ul.SMenu li{
border-left: 1px solid #eee;
border-right: 1px solid #999;
}

.SMenuBar li{
position:relative;
}

.SMenuBar ul ul{
position:absolute;
z-index:500;
top:auto;
display:none;
width:9em;
}

.SMenuBar ul ul ul{
top:-1px;
left:100%;
}

.SMenuBar ul.SMenu_Main {
border-style: solid;
border-width: 1px;
border-color: #eee #999 #999 #eee;
}
/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

div.SMenuBar span:hover{
background:#dde;
}

div.SMenuBar li.SMenu:hover{
cursor:pointer;
z-index:100;
}


div.SMenuBar li.SMenu:hover ul.SMenu ul.SMenu,
div.SMenuBar li.SMenu li.SMenu:hover ul.SMenu ul.SMenu,
div.SMenuBar li.SMenu li.SMenu li.SMenu:hover ul.SMenu ul.SMenu
{display:none;}

div.SMenuBar li.SMenu:hover ul.SMenu,
div.SMenuBar li.SMenu li.SMenu:hover ul.SMenu,
div.SMenuBar li.SMenu li.SMenu li.SMenu:hover ul.SMenu,
div.SMenuBar li.SMenu li.SMenu li.SMenu li.SMenu:hover ul.SMenu
{display:block;}

/* End of non-anchor hover selectors */

/* Styling for Expand */

div.SMenuBar a.x, .SMenuBar a.x:visited{
background:#eee url(icons/MenuArrowRight.gif) no-repeat center right;
}

div.SMenuBar a.x:hover{
background:#66b url(icons/MenuArrowRight.gif) no-repeat center right;
}

div.SMenuBar a.x:active{
}

/* from html page */
.SMenuBar ul li{float:left;height:1%;}
.SMenuBar ul li a{height:1%;}
