/* $Id$
   WINGSET INTERNET EXPLORER VISUALS

   This is a pure OPTIONAL visual styling CSS file for the wingset demo.

   Drop/Replace/Modify this CSS file for your own wings application style.
   Avoid using absolute CSS selectors like table,img,... etc.
   Preferer the wings CSS classes like STable as seen in the wings distribution core stylesheet.
*/

/** All white, no border, smaller sans-serif-font */
body {
    background: #ffffff;
    position: relative;
    margin: 0px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 0.8em;
}

/* Links: No visited colour, no underline  */
a:link, a:visited, a:active {
    color: #000066;
    text-decoration: none;
}

/* Input fields singe-dot lined, orange bg. */
textarea, input, select {
    background-color: #f6decc;
    border: 1px solid #e66e32;
}