darkfg    {   color: #902F00; }
heavyfg   {   color: #e64d00; }
defaultfg {   color: #e66e32;   }
heavybg   {   background-color: #E28A5F; }
defaultbg {   background-color: #E69974; }
lightbg   {   background-color: #EAA888; }
lightertbg   {   background-color: #F6DECC; }
lightestbg   {   background-color: #F9E9DD; }

BODY {
    background: #ffffff;
}
