BODY { 
   background: #dedede;
   padding: 0;
   margin: 0;
   border-width: 0 
}

P { 
   font-family: sans-serif;
   font-size: 12pt;
   font-weight: normal;
   font-style: normal;
   text-align: left 
}

B { 
   font-weight: bold 
}

EM { 
   font-style: normal;
   color: #990000 
}

STRONG { 
   font-weight: bold;
   color: #990000 
}

SMALL { 
   font-size: 8pt;
   color: #000044 
}

A:link { 
   color: #000099;
   text-decoration: none;
   font-weight: bold 
}

A:active { 
   color: #0000FF;
   text-decoration: none 
}

A:visited { 
   color: #000099;
   text-decoration: none 
}

HR { 
   padding-top: 0;
   padding-bottom: 0 
}

H1 { 
   font-size: 16pt;
   font-weight: bold;
   font-family: sans-serif 
}

H2 { 
   font-size: 14pt;
   font-weight: bold;
   font-family: sans-serif 
}

H3 {
   font-size: 12pt;
   font-weight: bold;
   font-family: sans-serif 
}

.label { 
   font-family: sans-serif;
   font-size: 12pt;
   font-weight: bold;
   font-style: normal;
   color: #000044 
}

.textfield { 
   font-family: sans-serif;
   font-size: 12pt;
   font-weight: normal;
   font-style: normal;
   color: #000000 
}

.anchorbuttonnonselection { 
   color: #000099;
   text-decoration: none;
   font-weight: bold 
}

.anchorbuttonselection { 
   color: #990000;
   text-decoration: none;
   font-weight: bold 
}

.formbuttonnonselection { 
   color: #000099;
   text-decoration: none;
   font-weight: bold 
}

.formbuttonselection { 
   color: #990000;
   text-decoration: none;
   font-weight: bold 
}

.anchorcheckboxnonselection { 
   color: #000099;
   text-decoration: none;
   font-weight: bold 
}

.anchorcheckboxselection { 
   color: #990000;
   text-decoration: none;
   font-weight: bold 
}

.formcheckboxnonselection { 
   color: #000099;
   text-decoration: none;
   font-weight: normal 
}

.formcheckboxselection { 
   color: #990000;
   text-decoration: none;
   font-weight: normal 
}

.anchorradiobuttonnonselection { 
   color: #000099;
   text-decoration: none;
   font-weight: bold 
}

.anchorradiobuttonselection { 
   color: #990000;
   text-decoration: none;
   font-weight: bold 
}

.formradiobuttonnonselection { 
   color: #000099;
   text-decoration: none;
   font-weight: normal 
}

.formradiobuttonselection { 
   color: #990000;
   text-decoration: none;
   font-weight: normal 
}

.anchortogglebuttonnonselection { 
   color: #000099;
   text-decoration: none;
   font-weight: bold 
}

.anchortogglebuttonselection { 
   color: #990000;
   text-decoration: none;
   font-weight: bold 
}

.formtogglebutton {
   color: #000099;
   text-decoration: none;
   font-weight: normal
}

.href { 
   color: #990000;
   text-decoration: none;
   font-weight: bold 
}

.table {
#   margin: 0;
#   padding: 0;
   border-style: solid;
   border-width: 1pt;
   border-color: black;
   border-spacing: 0pt;
   text-decoration: none;
   font-family: sans-serif;
   font-size: 12pt;
   font-weight: normal;
   font-style: normal;
}

.tableheader {
   font-weight: bold;
   color: #000000;
   background-color: #dedede;
}

.tableselection {
   color: #000000;
   background-color: #99cccc;
}

.tablenonselection {
   color: #000000;
   background-color: #ffffff;
}

.basetable {
#   margin: 0;
#   padding: 0;
   border-style: solid;
   border-width: 1pt;
   border-color: black;
   border-spacing: 0pt;
   text-decoration: none;
   font-family: sans-serif;
   font-size: 12pt;
   font-weight: normal;
   font-style: normal;
}

.basetableheader {
   font-weight: bold;
   color: #ffffff;
   background-color: #888888;
}

.basetablecell {
   color: #000000;
   background-color: white;
}

.treenodeselection {
   text-decoration: none;
   color: #000000;
   background-color: #99cccc;
}

.treenodenonselection {
   text-decoration: none;
   color: #000000;
}

.listselection {
   text-decoration: none;
   color: #000000;
   background-color: #99cccc;
}

.listnonselection {
   text-decoration: none;
   color: #000000;
}

.topleft { 
   text-align: left;
   vertical-align: top 
}

.bottomleft {
   text-align: left;
   vertical-align: bottom 
}

.topright { 
   text-align: right;
   vertical-align: top 
}

.bottomright { 
   text-align: right;
   vertical-align: bottom 
}

.right {
   text-align: right;
   vertical-align: middle;
}

.left {
   text-align: left;
   vertical-align: middle;
}

.center {
   text-align: center;
   vertical-align: middle;
}
